# Lesson 1.4 - Starter Code 
## Advanced SQL Walkthrough & Independant Practice

Here's the situation - your working with a Postgre Database at a large wine distributor who needs you to maintain their database. You'll use some of your advanced SQl skills to take care of customer cases. Let's begin! 

GA provided database credentials:

psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student northwind
password: gastudents

First, let's load in the ipython sql extension so that we can use sql within the ipython notebook.

In [ ]:
#Connect to the remote database with paramaters provided
import pandas as pd
#import psycopg2 
import sqlalchemy


engine = sqlalchemy.create_engine('postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com:5432/northwind')

# This can work but sometime there are issues with the connection being specifically supported by psql
# params = {
#   'dbname': 'northwind',
#   'user': 'dsi_student',
#   'password': 'gastudents',
#   'host': 'dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com',
#   'port': 5432
# }

# conn = psycopg2.connect(**params)

Let's check out the schema and tables of northwind database: https://northwinddatabase.codeplex.com/

In [ ]:
pd.read_sql_query('SELECT DISTINCT(table_schema) FROM information_schema.tables\
                          ORDER BY 1;',con=engine)

In [ ]:
#View tables in this database

pd.read_sql("SELECT table_schema,table_name, table_type FROM  information_schema.tables WHERE table_schema = 'public';",con=engine)

Check the database for syntax and helpful queries for when things go wrong!

In [ ]:
pd.read_sql_query("SELECT * FROM order_details LIMIT 10", con=engine)

In [ ]:
pd.read_sql_query("SELECT * FROM products LIMIT 3", con=engine)

## WALK THORUGH FUNCTIONS WE REVIEWED TODAY
*Consider remove "LIMIT 10" clause at the end of each sql statement, I included for readibility

In [ ]:
#Leverage CASE statement to label products that have been discontinued
wt_query0 = """\
SELECT "City",
 CASE WHEN "City" = 'Berlin' THEN 'one'
 ELSE NULL END AS "New City"
 FROM customers
 LIMIT 10;
"""

pd.read_sql(wt_query0, engine)

In [ ]:
#Leverage HAVE to find only products with average price greater than 15
wt_query1 = """\
SELECT "ProductID", avg("UnitPrice")
FROM order_details
GROUP BY 1
HAVING avg("UnitPrice") > 15
LIMIT 10;
"""

pd.read_sql(wt_query1, engine)

In [ ]:
#Concat
wt_query3 = """\
SELECT CONCAT("City", "Country")
FROM customers
LIMIT 10;
"""

pd.read_sql(wt_query3, engine)

## INDEPENDENT PRACTICE SOLUTIONS

In [ ]:
#query to check to make sure table names are accurate
query_0 = """
SELECT * 
FROM order_details
LIMIT 1
"""

query_1 = """
SELECT count("OrderID") \
from order_details;"""

print pd.read_sql_query(query_0, con=engine) #look at column names
print 'number of non-unique records in OrderID column: \n', pd.read_sql_query(query_1, con=engine)

**1. Order Subtotals**

For each order, calculate a subtotal for each Order (identified by OrderID). 

Comments for solution Query: This can be done with query using GROUP BY to aggregate data for each order.

**Questions 2: Alphabetical List of Products**

Learn more about the products they have on stock in their store. Are you interested in all the products? Even the discontinued ones?

This is a rather simple query to get an alphabetical list of products.

**Question 3:  Sales by Year**

Find the subtotal of order by ship year.

This query shows how to get the year part from Shipped_Date column. A subtotal is calculated by a sub-query for each order. The sub-query forms a table and then joined with the Orders table.

Question 4: 

More on sales and products, especially after discounts

a) Find sales price by product after discount
b) Then find the highest grossing products, after discount

This query calculates sales price for each order after discount is applied.

**Question 5: Customers and Suppliers by City**

What type of relationships do you have in each city? Your sales teams wants to know so they can better allocate regions and hire more staff.

HINT: UNION and consider adding a new constant from both tables to distingish between table joined

**Question 6: Find the products sold and total sale by category and product name**

For each category, we get the list of products sold and the total sales amount. 

Comments for solution Query: Note that, the inner query for the nested table (i.e. "nested_table") is to get sales for each product on each order. It then joins with outer query on Product_ID. In the outer query, products are grouped for each category.

**Question 7: How many units are in stock by category and supplier continent?**

HINT: USE "IN", "CASE" , "GROUP BY"
Use the case statement to transform countries into continent allocations

Comments for solution Query:  This query shows that case statement is used in GROUP BY clause to list the number of units in stock for each product category and supplier's continent. Note that, if only s.Country (not the case statement) is used in the GROUP BY, duplicated rows will exist for each product category and supplier continent.