---
title: Map Reduce Finance Time Series Lab
duration: "1:25"
creator:
    name: Pauline Chow & John Marin
    city: LA
---

# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) 
# Map Reduce Finance Time Series Lab
Week 11 | Lab 1.3

In [2]:
%matplotlib inline
import os  
import numpy as np  
import pandas as pd  
import matplotlib.pyplot as plt  
import statsmodels.api as sm  
import seaborn as sb  
sb.set_style('darkgrid')

#Download data for APPLE STOCK
appl = pd.read_csv("http://chart.finance.yahoo.com/table.csv?s=AAPL&a=7&b=4&c=2010&d=7&e=4&f=2016&g=d&ignore=.csv")
appl['Date'] = appl['Date'].convert_objects(convert_dates='coerce')  
appl = appl.sort_index(by='Date')  
appl = appl.set_index('Date')

/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:12: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)

In [2]:
appl.head()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2010-08-04,262.840008,264.279987,260.309990,262.980011,105093800,34.394982
2010-08-05,261.729996,263.179989,260.549995,261.700008,72274300,34.227571
2010-08-06,259.779991,261.489990,257.630009,260.090012,111224400,34.017001
2010-08-09,261.480003,262.150005,259.570000,261.749996,75782000,34.234109
2010-08-10,259.850006,260.449993,257.550007,259.409996,112980000,33.928062

In [25]:
 ohlc_dict = {
    'Open':'first',
    'High':'max',
    'Low':'min',
    'Close':'last',
    'Volume':'sum'
    }

appl_re = appl.resample('W-Fri', how=ohlc_dict)
print appl_re.head()

                  High       Close     Volume        Open         Low
Date
2010-08-06  264.279987  260.090012  288592500  262.840008  257.630009
2010-08-13  262.150005  249.099987  566223000  261.480003  246.119999
2010-08-20  254.669994  249.639999  472925600  247.580006  246.620010
2010-08-27  252.000000  241.620003  657092800  251.790009  235.559998
2010-09-03  258.779995  258.770008  609332500  240.760010  240.349987

/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:9: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)

In [ ]:
#This takes a few minutes so commented out
# appl_all = pd.DataFrame()
# for c in appl.columns:
#     appl_all[c] = appl[c].resample('1T').max()
    
# print appl_all.head()

In [21]:
#create resampled time series
appl_all = pd.DataFrame()
for c in appl.columns: 
    appl_tmp = appl[c]
    appl_tmp = pd.Series(appl_tmp)
    appl_tmp = appl_tmp.resample('1T', how='mean')
    print appl_tmp.head()
    
    pd.concat([appl_all, appl_tmp])

print appl_all.head()

/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()

Date
2010-08-04 00:00:00    262.840008
2010-08-04 00:01:00           NaN
2010-08-04 00:02:00           NaN
2010-08-04 00:03:00           NaN
2010-08-04 00:04:00           NaN
Freq: T, Name: Open, dtype: float64
Date
2010-08-04 00:00:00    264.279987
2010-08-04 00:01:00           NaN
2010-08-04 00:02:00           NaN
2010-08-04 00:03:00           NaN
2010-08-04 00:04:00           NaN
Freq: T, Name: High, dtype: float64
Date
2010-08-04 00:00:00    260.30999
2010-08-04 00:01:00          NaN
2010-08-04 00:02:00          NaN
2010-08-04 00:03:00          NaN
2010-08-04 00:04:00          NaN
Freq: T, Name: Low, dtype: float64
Date
2010-08-04 00:00:00    262.980011
2010-08-04 00:01:00           NaN
2010-08-04 00:02:00           NaN
2010-08-04 00:03:00           NaN
2010-08-04 00:04:00           NaN
Freq: T, Name: Close, dtype: float64
Date
2010-08-04 00:00:00    105093800.0
2010-08-04 00:01:00            NaN
2010-08-04 00:02:00            NaN
2010-08-04 00:03:00            NaN
2010-08-04 00:04:00            NaN
Freq: T, Name: Volume, dtype: float64
Date
2010-08-04 00:00:00    34.394982
2010-08-04 00:01:00          NaN
2010-08-04 00:02:00          NaN
2010-08-04 00:03:00          NaN
2010-08-04 00:04:00          NaN
Freq: T, Name: Adj Close, dtype: float64
Empty DataFrame
Columns: []
Index: []

In [4]:
#create resampled time series for just one columns
# appl_series = appl['Adj Close']
# appl_series = pd.Series(appl_series)
# appl_series.head()

Date
2010-08-04    34.394982
2010-08-05    34.227571
2010-08-06    34.017001
2010-08-09    34.234109
2010-08-10    33.928062
Name: Adj Close, dtype: float64

In [17]:
# resample and run data examples. This takes a few minutes so commented out
appl_series_re = appl_series.resample('1T', how='mean')
appl_series_re.head()
appl_series_re.to_csv('Yahoo_APPL_resampled.csv')

/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  if __name__ == '__main__':

Date
2010-08-04 00:00:00    34.394982
2010-08-04 00:01:00          NaN
2010-08-04 00:02:00          NaN
2010-08-04 00:03:00          NaN
2010-08-04 00:04:00          NaN
Freq: T, Name: Adj Close, dtype: float64

The following mapper.py and reducer.py will be run from your command line. Can you summarize what the mapper and reducer are doing?

In [19]:
#!/usr/bin/env python

#Baseline code from https://github.com/ameyb/hadoop-mapreduce-financial-analytics
#mapper.py
# uses
#Time range min and max

import sys
from datetime import datetime,date,timedelta

def read_input_line():
	for line in sys.stdin:
		yield line

def main():
	try:
		date_range_start = datetime.strptime(sys.argv[1], "%Y-%m-%d").date()
		date_range_end = datetime.strptime(sys.argv[2], "%Y-%m-%d").date()
	except:
		date_range_end = date.today()
		date_range_start = date_range_end - timedelta(days=7*52) 
	
	
	#print date_range_start,  date_range_end
	
	stocks = {}
	for line in read_input_line():
		line = line.strip()
		records = line.split(',')
		try:
			stock = str(records[1])
			date_close = datetime.strptime(records[2], "%Y-%m-%d").date()
			price_close = float(records[6])
		except ValueError:
			#print 'data error : ', records
			continue
		if date_close < date_range_start or date_close > date_range_end:
			continue
		if stock in stocks:
			stocks[stock]["price_close_min"] = min(stocks[stock]["price_close_min"], price_close)
			stocks[stock]["price_close_max"] = max(stocks[stock]["price_close_min"], price_close)
		else:
			stocks[stock] = {
					"price_close_min": price_close,
					"price_close_max": price_close,
					}
	
	for stock in stocks:
		print "%s\t%s" %(stock,stocks[stock]["price_close_min"])
		print "%s\t%s" %(stock,stocks[stock]["price_close_max"])



if __name__ == "__main__":
    main()

In [20]:
#!/usr/bin/env python

#Baseline code from https://github.com/ameyb/hadoop-mapreduce-financial-analytics
#reducer.py
#Time range min and max


import sys
from datetime import datetime,date,timedelta

def read_input_line():
        for line in sys.stdin:
                yield line

def main():
	
	
	stocks = {}
	for line in read_input_line():
		line = line.strip()
		records = line.split('\t')
		try:
			stock = str(records[0])
			price = float(records[1])
		except ValueError:
			#print 'data error : ', records
			continue
		if stock in stocks:
			stocks[stock]["price_close_min"] = min(stocks[stock]["price_close_min"], price)
			stocks[stock]["price_close_max"] = max(stocks[stock]["price_close_min"], price)
		else:
			stocks[stock] = {
					"price_close_min": price,
					"price_close_max": price,
					}
	
	for stock in stocks:
		print "%s\t%s" %(stock,stocks[stock]["price_close_min"])
		print "%s\t%s" %(stock,stocks[stock]["price_close_max"])



if __name__ == "__main__":
    main()

Run the following command in the command line: 

```
cat input_appl_stock.txt | python mapper.py | sort -k1,1 | python reducer.py > output_appl_ts.txt
```